///// Footer Type A
///
//

.footer-a {
  /// Footer Logo
  .footer_branding {
    max-width: 300px;

    @media (max-width: 1200px) {
      max-width: 250px;
    }

    @media (max-width: 1023px) {
      @apply max-w-full mb-15;
    }
  }
  /// Footer Column Control
  .footer__column {
    @media (max-width: 1023
    +
    px) {
      @apply flex justify-start items-start;

      flex-flow: column wrap;
    }
  }

  /// Footer Copyright
  .copyright {
    @apply text-primary-3;

    a,
    span {
      @apply text-primary-3 font-opensans-regular;
    }
  }

  .menu-item-208,
  .menu-item-209 {
    a {
      @apply py-2 px-30 text-white;
    }

    @media (max-width: 1023px) {
      @apply mt-15 mb-15;
    }
  }

  // Footer Nav
  .footer_nav {
    @apply flex justify-end p-0 m-0;

    list-style: none;

    @media (max-width: 1023px) {
      @apply mt-30;

      flex-flow: column wrap;
    }

    li + li {
      @apply ml-30;

      @media (max-width: 1336px) {
        @apply ml-15;
      }

      @media (max-width: 1023px) {
        @apply ml-0;
      }
    }

    a {
      @apply uppercase text-primary-3;

      font-size: 16px;

      @media (max-width: 1023px) {
        font-size: 20px;
      }
    }
  }

  .menu-item-209 {
    a {
      @apply bg-primary-1 text-white;
    }
  }

  .menu-item-208 {
    @media (min-width: 1024px) {
      @apply ml-30;
    }

    a {
      @apply bg-primary-2 text-white;
    }
  }
}
