// Update theme colors based off Tailwind.config
// Output example:  var(--primary-1);
:root {
  --white: #fff;
  --primary-1: #97050c;
  --primary-2: #333;
  --primary-3: #999;
  --primary-4: #97050c;
}

body {
  @apply text-gray-900 bg-white text-primary-2 text-p font-d-condensed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  @apply relative z-40;
}

#wpadminbar {
  @apply fixed;
}

.header__master {
  position: relative;
  z-index: 100;
}

/// error 404
.error404 {
  .section--main {
    @apply py-120 bg-primary-1 text-center;
  }
}

.nav-is-open {
  height: 100vh;
}

footer {
  @apply px-15;

  .copyright {
    span,
    a {
      @apply font-d-condensed uppercase;

      font-size: 12px;
    }
  }
}

.gradient-bl-tr {
  background: linear-gradient(45deg, var(--primary-1) 0%, var(--primary-3) 100%);
}

.gradient-br-tl {
  background: linear-gradient(135deg, var(--primary-1) 0%, var(--primary-3) 100%);
}

.gradient-l-r {
  background: linear-gradient(90deg, var(--primary-2) 30%, var(--primary-1) 70%);
}

hr {
  @apply block h-px my-8 bg-primary-4;

  clear: both;

  // 1024
  @media (min-width: 1024px) {
    @apply my-16;
  }
}

.desktop-none {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.mobile-none {
  @media (max-width: 1023px) {
    display: none !important;
  }
}

address {
  @apply not-italic leading-normal;

  span:first-child {
    @apply block;
  }
}

iframe {
  @apply block;
}

ol:not([class]),
ul:not([class]) {
  @apply mb-10 pl-10 list-disc;
}

li:not([class]) {
  //
}

li:not([class]) + li:not([class]) {
  @apply mt-3;
}

//Nav-Home Button
.menu-item-416 {
  @media (min-width: 1024px) {
    @apply hidden;
  }
}

.border-style-left {
  &::after {
    @apply bg-primary-4;

    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 30px;
    right: -30px;
  }

  &::before {
    @apply bg-primary-4;

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -30px;
    right: -30px;
  }

  @media (max-width: 1023px) {
    padding-right: 45px !important;

    &::after {
      right: 30px;
    }

    &::before {
      right: 30px;
    }
  }
}

.border-style-right {
  &::after {
    @apply bg-primary-4;

    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 30px;
    left: -30px;
  }

  &::before {
    @apply bg-primary-4;

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -30px;
    left: -30px;
  }

  @media (max-width: 1023px) {
    padding-left: 45px !important;

    &::after {
      left: 30px;
    }

    &::before {
      left: 30px;
    }
  }
}

/// Dark backgrounds
.bg-primary-1,
.bg-primary-2,
.bg-primary-3,
.js-background,
.text-white,
.bg-black,
.hover--state,
.gradient-l-r {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul:not([class]),
  p,
  a:not([class]),
  span:not([class]),
  label,
  svg {
    @apply text-white;

    fill: white !important;
  }
}

//Border styling
.border-style-left,
.border-style-right {
  @apply relative;

  h3 {
    @apply mb-45 relative;

    &::before {
      @apply bg-primary-4;

      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100px;
      height: 2px;
    }

    .section--full & {
      @apply mb-15;

      &::before {
        @apply hidden;
      }
    }
  }
}
