// Update theme colors based off Tailwind.config
// Output example:  var(--primary-1);
:root {
  --white: #fff;
  --primary-1: #10256b;
  --primary-2: #f70605;
  --primary-3: #0769ac;
  --primary-4: #474747;
}

body {
  @apply text-gray-900 bg-white text-p font-sourcesanspro;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-is-open {
  height: 100vh;
}

footer {
  @apply px-15;

  .copyright {
    span,
    a {
      @apply font-sourcesanspro uppercase;

      font-size: 12px;
    }
  }
}

.gradient-bl-tr {
  background: linear-gradient(45deg, var(--primary-1) 0%, var(--primary-3) 100%);
}

.gradient-br-tl {
  background: linear-gradient(135deg, var(--primary-1) 0%, var(--primary-3) 100%);
}

.gradient-l-r {
  background: linear-gradient(90deg, var(--primary-3) 30%, var(--primary-1) 70%);
}

hr {
  @apply block h-px my-8 bg-primary-4;

  clear: both;

  // 1024
  @media (min-width: 1024px) {
    @apply my-16;
  }
}

.desktop-none {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

.mobile-none {
  @media (max-width: 1023px) {
    display: none !important;
  }
}

address {
  @apply not-italic leading-normal;

  span:first-child {
    @apply block;
  }
}

iframe {
  @apply block;
}

input,
textarea,
select, {
  @apply w-full p-2 text-lg text-black leading-normal border border-solid border-gray-300 appearance-none;
}

textarea {
  @apply h-32;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply opacity-75;
}

ol:not([class]),
ul:not([class]) {
  @apply mb-10 pl-10 list-disc;
}

li:not([class]) {
  //
}

li:not([class]) + li:not([class]) {
  @apply mt-3;
}

//Nav-Home Button
.menu-item-416 {
  @media (min-width: 1024px) {
    @apply hidden;
  }
}

/// Dark backgrounds
.bg-primary-1,
.bg-primary-2,
.bg-primary-3,
.bg-primary-4,
.text-white,
.bg-black,
.hover--state,
.gradient-l-r {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul:not([class]),
  p,
  a:not([class]),
  span:not([class]),
  label,
  svg {
    @apply text-white;

    fill: white !important;
  }
}
