.header-a {
  @apply pt-15 pb-15 bg-white;

  margin-top: 0;
  transition: all ease 1s;
  z-index: 100;

  @media (max-width: 1023px) {
    @apply pb-15;
  }

  // Wesbite Logo Styling
  .header__branding {
    margin-top: -45px;
    margin-bottom: -45px;

    @media (max-width: 768px) {
      @apply block mx-auto mt-0;
    }

    img {
      @apply block mx-auto;

      max-width: 100px;
      transition: all ease 1s;

      @media (max-width: 768px) {
        max-width: 75px;
      }
    }
  }

  // Phone Number & CTA
  .header__top {
    h6 {
      @apply m-0;
    }

    @media (min-width: 1024px) {
      @apply flex items-end pb-15;

      flex-flow: row wrap;

      a {
        @apply ml-30;
      }
    }
  }

  [data-state="open"] .sub-menu {
    @apply p-0 m-0;
  }

  // hamburger Icon
  .w-hamburger {
    @apply bg-white relative;

    left: 15px;
    margin-top: 0;

    .nav-is-open & {
      @apply bg-white mb-30;
    }
  }

  .nav-toggle {
    span {
      @apply bg-primary-2;

      &::before,
      &::after {
        @apply bg-primary-2;

        .nav-is-open & {
          opacity: 1;
        }
      }
    }
  }

  // Last Menu item
  .menu-item-122 {
    @apply border-2 border-primary-2 py-2;

    border-radius: 10px;
    max-width: 175px;

    a {
      @apply p-15 text-primary-2;
    }
  }

  // Nav Mobile
  .primary-nav-a {
    z-index: 100;

    li {
      @apply mt-2;
    }

    @media (min-width: 1024px) {
      @apply flex justify-end items-center mt-0;

      li {
        @apply ml-15;
      }
    }

    a {
      @apply uppercase leading-normal;

      font-size: 18px;

      @media (max-width: 1023px) {
        font-size: 24px;
      }
    }

    // 1023 <=
    @media (max-width: 1023px) {
      @apply hidden;

      // Navigation Open
      .nav-is-open & {
        @apply block mt-30 p-30 absolute w-full bg-white;

        left: 0;
        height: 100vh;

        a {
          @apply uppercase leading-normal;
        }
      }
    }

    // Home Button and other unique menu-items
    .page-item-2 {
      @media (min-width: 1024px) {
        @apply hidden;
      }
    }

    // sub-menu Background Color control
    .sub-menu {
      @apply bg-white;

      @media (min-width: 1024px) {
        left: -15px !important;
      }

      a {
        @apply capitalize;
      }
    }
  }

  // Fixed Property
  #header-fixed & {
    @apply fixed w-full;

    margin-top: 0;
    top: 0;
  }
}

#header-fixed {
  // Scrool behavior
  .scroll-head--a {
    @media (min-width: 1024px) {
      margin-top: -60px !important;

      .header__branding img {
        max-width: 75px;
        margin-top: 60px;
        margin-bottom: -15px;
      }
    }
  }
}
