.header-a {
  margin-top: 0;
  transition: all ease 1s;
  z-index: 100;

  @media (max-width: 1023px) {
    @apply py-15;
  }

  .logged-in & {
    @media (max-width: 1023px) {
      @apply mt-15;
    }
  }

  // Wesbite Logo Styling
  .header__branding {
    @media (max-width: 768px) {
      @apply block mx-auto ml-0 mt-0;
    }

    img {
      @apply block mx-auto;

      max-width: 200px;
      transition: all ease 1s;

      @media (max-width: 768px) {
        @apply ml-0;

        max-width: 120px;
      }
    }
  }

  // Phone Number & CTA
  .header__top {
    @apply bg-primary-1;

    @media (min-width: 1024px) {
      @apply flex items-end;

      flex-flow: row wrap;

      a {
        @apply ml-30 text-white;
      }
    }

    h6 {
      @apply m-0;
    }
  }

  .header__bottom {
    @media (min-width: 1024px) {
      @apply py-15;
    }
  }

  [data-state="open"] .sub-menu {
    @apply p-0 m-0;
  }

  // hamburger Icon
  .w-hamburger {
    @apply bg-primary-1 relative;

    left: 15px;
    margin-top: 0;

    .nav-is-open & {
      @apply bg-transparent mb-0;
    }
  }

  .nav-toggle {
    span {
      @apply bg-primary-2;

      &::before,
      &::after {
        @apply bg-primary-2;

        .nav-is-open & {
          opacity: 1;
        }
      }
    }
  }

  // Nav Mobile
  .primary-nav-a {
    z-index: 100;

    li {
      @apply mt-2;
    }

    @media (min-width: 1024px) {
      @apply flex justify-end items-center mt-0;

      li {
        @apply ml-15 mt-0;
      }
    }

    a {
      @apply uppercase leading-normal text-primary-2;

      font-size: 18px;

      @media (max-width: 1023px) {
        font-size: 24px;
      }
    }

    // 1023 <=
    @media (max-width: 1023px) {
      @apply hidden;

      // Navigation Open
      .nav-is-open & {
        @apply block mt-30 p-30 absolute w-full bg-primary-1;

        left: 0;
        height: 100vh;

        a {
          @apply uppercase leading-normal;
        }
      }
    }

    // Home Button and other unique menu-items
    .page-item-2 {
      @media (min-width: 1024px) {
        @apply hidden;
      }
    }

    // sub-menu Background Color control
    .sub-menu {
      @apply bg-white;

      @media (min-width: 1024px) {
        left: -15px !important;
      }

      a {
        @apply capitalize;
      }
    }
  }

  // Fixed Property
  #header-fixed & {
    @apply fixed w-full;
  }
}

#header-fixed {
  // Scrool behavior
  .scroll-head--a {
    @media (min-width: 1024px) {
      margin-top: -60px !important;

      .header__branding img {
        max-width: 75px;
        margin-top: 60px;
        margin-bottom: -15px;
      }
    }
  }
}
