//// Animations
/// V.1.0
//

// Fade in
@media (min-width: 768px) {
  .fade {
    opacity: 0;
    transition: all ease 0.5s;
  }

  //Animate Relative State for all classes
  .animate-right,
  .animate-left,
  .animate-top {
    transition: all ease 0.5s;
    position: relative;
  }

  //Animate Right in
  .animate-right {
    right: 0;
  }

  //Animate Left in
  .animate-left {
    left: 0;
  }

  .animate-top {
    top: -50px;
  }

  .animate-bottom {
    bottom: -50px;
  }

  //Animate Action
  .slide-in-right {
    right: 0;
    opacity: 1;
  }

  .slide-in-left {
    left: 0;
    opacity: 1;
  }

  .slide-in-top {
    top: 0;
    opacity: 1;
  }

  .slide-in-bottom {
    bottom: 0;
    opacity: 1;
  }

  .bounce-left {
    opacity: 0;
  }

  .bounce-in-left {
    opacity: 1;
    transition: all ease 1s;

    h1,
    h2,
    h3,
    p,
    .button,
    .card {
      position: relative;
      left: 0;
      transform: skewX(0deg);
    }

    h1 {
      -webkit-animation: bounce-left 1s 1;
    }

    h2 {
      -webkit-animation: bounce-left 1.1s 1;
    }

    h3 {
      -webkit-animation: bounce-left 1.2s 1;
    }

    p {
      -webkit-animation: bounce-left 1.3s 1;
    }

    .button {
      -webkit-animation: bounce-left 1.4s 1;
    }
  }

  @-webkit-keyframes bounce-left {
    0% {
      left: 0;
      transform: skewX(2deg);
    }

    25% {
      left: 25px;
      transform: skewX(3deg);
    }

    50% {
      left: -25px;
      transform: skewX(-2deg);
    }

    100% {
      left: 0;
      transform: skewX(0deg);
    }
  }

  .bounce-right {
    opacity: 0;
  }

  .bounce-in-right {
    opacity: 1;
    transition: all ease 1s;

    h1,
    h2,
    h3,
    p,
    .button,
    .card {
      opacity: 1;
      position: relative;
      right: 0;
      transform: skewX(0deg);
    }

    h1 {
      -webkit-animation: bounce-right 1s 1;
    }

    h2 {
      -webkit-animation: bounce-right 1.2s 1;
    }

    h3 {
      -webkit-animation: bounce-right 1.2s 1;
    }

    p {
      -webkit-animation: bounce-right 1.4s 1;
    }

    .button {
      -webkit-animation: bounce-right 1.6s 1;
    }
  }

  @-webkit-keyframes bounce-right {
    0% {
      right: 0;
      transform: skewX(2deg);
    }

    25% {
      right: 50px;
      transform: skewX(3deg);
    }

    50% {
      right: -50px;
      transform: skewX(-2deg);
    }

    100% {
      right: 0;
      transform: skewX(0deg);
    }
  }
}

.portal__anchor {
  .hover--state & {
    &:hover {
      animation-name: line_height;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@-webkit-keyframes line_height {
  0% {
    line-height: inherit;
  }

  50% {
    line-height: 10;
    opacity: 0;
  }

  100% {
    ///display: none;
  }
}
