.section {
  @apply py-45;
}

.container {
  @apply block mx-auto max-w-10xl px-15;

  .section--contained & {
    flex-flow: row wrap;
  }
}

.section__content {
  @apply bg-white;

  .section__content__inner {
    @apply p-45 w-full;

    max-width: 700px;
  }
}

.section--full {
  .home & {
    img {
      @apply mb-15;
    }

    h4 {
      @apply mb-30;
    }

    p {
      @apply m-0;
    }
  }
}

.section--contained + .section--contained {
  @media (min-width: 1024px) {
    @apply pt-0;
  }
}

// Includes additional padding for Sections with an Acition

.has-action {
  @apply py-32;
}

// Flip Order of split or contained content

.flip {
  .section__content {
    order: 1;
  }

  .section__bg {
    order: 2;
  }
}

// Rows Styling
.row {
  @apply mt-30;

  flex-flow: row wrap;

  .column {
    @media (max-width: 1023px) {
      @apply w-full;
    }
  }
}

// Social Media
.social-icon {
  svg {
    @apply h-icon w-icon;

    fill: #be287e;
  }
}

@media (min-width: 768px) {
  .edit-post-visual-editor .editor-post-title,
  .edit-post-visual-editor .editor-block-list__block {
    max-width: 1100px;
  }
}
