.acf-block-fields {
  max-width: 100%;

  input {
    width: auto;
  }

  .acf-editor-wrap .button {
    background-color: grey;

    &:hover {
      color: black;
    }
  }

  .acf-block-preview {
    background: transparent;
    color: inherit;
  }

  p,
  input,
  select {
    font-size: 16px !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  strong,
  ul {
    color: black;
  }
}

.acf-block-panel .acf-block-fields {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#adminmenuback {
  background-color: blue !important;
}

.block-editor-block-list__layout {
  width: 75%;
  padding-right: 5px;
}

.block-editor-block-list__block {
  margin-left: 0;
}
